.overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay.overlay-on {
  visibility: visible;
  opacity: 1;
}

.container {
  margin-top: 64px;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  align-self: stretch;
}

.hidden {
  display: none;
}
